@charset "utf-8";
body{
    margin: 0;
}
.header{
    width: 100%;
    background-color: aliceblue;
}
.header_logo{
    color: rgb(61, 59, 197);
    cursor: pointer;    
}
.header_logo h1{
    text-align: center;
    padding-left: 200px;
    padding-right: 200px;
}
.header_logo_search_info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_logo_search_info > div{
    flex:1;
    margin-left: 3px;
    margin-right: 3px;
}
.search{
    display: flex;
    align-items: center;
    justify-content: center;
}

.search_box{
    position: relative;
    height: 40px;
    width: 375px;
    border: 1px solid #1b5ac2;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    max-width: 440px;
    min-width: 40px;
}
.search_input{
    font-size: 16px;
    width: 300px;
    padding: 10px;
    border : 0px;
    outline: none;
    float: left;
}
.search_button{
    width: 50px;
    height: 100%;
    border: 0px;
    background: #1b5ac2;
    outline: none;
    float: right;
    color: #fff;
}
.info > li{
    display: inline;
}
.info_item a{
    text-align: center;
    text-decoration: none; /*밑줄 없앰*/
    color: black;
}
.menu_nav{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 0;/*쓸데없는 공백 제거*/
    padding: 0;/*쓸데없는 공백 제거*/
    background-color: darkslategray;
    list-style-type: none;/*목록 기호 제거*/
}
.menu_item{
    padding: 15px;
    cursor: pointer;
    color: white;
}
.menu_item:hover{
    background-color: lightseagreen;
}
.advertisements{
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

footer {
    background: darkgray;
    min-height: 310px;
}